@charset "ISO-8859-1";

#head{
	 background-image: url(img/routee.jpg);
	 height:100vh;
	 background-position:center;
	 background-size:cover;
	 display:flex;
	 flex-direction:column;
	 justify-content:center;
	 align-items:center;
	 text-align:center;
	 padding: 0 20px;
	}

#head h1{
	font-size:50px;
	color:white;
}
#head p{
	font-size:20px;
	color: antiquewhite;
}

 .button{
   font-size:18px;
   text-decoration:none;
   color:grey;
   border:white 1px solid;
   padding: 10px 20px;
   margin-top:10px;
   border-radius:10px;
 }
 
#head .button:hover{
	background: white;
    color: #58443d;
}
	

