@charset "ISO-8859-1";


body{
	font-family: sans-serif;
	margin: var(--header-height) 0 0 0;
	font-family: var (--body-font);
	font-size: var (--normal-font-size);
	font-weight: var (--font-medium);
	background-color: var (--first-color-lighten);
	color: var (--text-color);
	line-height:2.6;
	margin-top: 0;
	width:100%;
}
.menu { 
	background:#CECECE;
	display: inline-block;
	list-style-type: none;
	padding: 20px;

  }

 
 .menu a:hover{

 	background: #CECECE;
 	color:red;
 	border-collapse: collapse;
 	border-radius: 10px/20px;
 	margin:2px;
 	
 }
/* Logo principal dans le menu*/
#logo {
	float: left;
	padding-top: 1px;
    }

 
/*la nav est l'intégralité de la barre menu*/
nav {
	
	min-width:100%;
	margin-left: 3px;
	text-align: center;
	text-decoration-color: white;
	
  }
/*liens à l'intérieur de la nav*/
a{
	padding: 45px;
	color: white;
}

span {
	background: pink;
}

/*quand on passe la souris surle lien il passe en noire*/
a:hover{
	color: black;
	transition: right 2s, transform 2s;
}

/* pour le lien contact dans la nav*/
#bloc {
	float: right;
   padding-top: 11px;
	text-align: center;
}


/* Qui englobe l'intégralité du footer*/

#contener{
	min-height: 30%;
	position: relative;
}

html, body{
	height: 100%;
}

body{
flex-direction: column;
}

footer{
height: 14em;
background: #e9dada;
}

 

/* le .bloc représente un bloc contenant les liens footer*/
 .bloc{
  	margin: 0 30px;
  	}
.liensfooter ul {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 20px;
	padding: -3px 0 100px;
	list-style-type: none;
  }  

  .liensfooter a{
  	color: white;
  }



/* logo FB et Insta*/

.social{
	width: 40px;
	height: 40px;
}

.social img{
	width: 30px;
	height: 30px;
	border-radius:50px;
   }

/*----------- bloc item*/

section{
	padding: 0rem 1rem;
    padding-top: 6%;
    border:solid 2px;
}
.carte{
	display:inline-grid;
    margin: 39px 0 62px 68px;
}

/*n page acceuil------------------------------------------------------*/
.carou{
	height: 80%;
    width: 47em;
    margin: 0 0 0 23rem;
}
.img{
	height:100%;
}
	

/* Methode Responsive*/
 
@media screen and (min-device-width:1px ) and (max-device-width:400px){
	body{
		background-color: pink ;
	}

	  }

@media screen and (min-device-width:300px) and (max-device-width:1000px){  
 
 body{

 	background-color: yellow;
 }
   }

@media screen and (min-device-width:1000px) and (max-device-width:2000px){

	body {


		background-color:grey;
	}
   }