
.menu { 
	background:#CECECE;
	display: inline-block;
	list-style-type: none;
	padding: 20px;

  }

 
 .menu a:hover{

 	background: #CECECE;
 	color:red;
 	border-collapse: collapse;
 	border-radius: 10px/20px
 	margin:5px;
 	
 }
/* Logo principal dans le menu*/
#logo {
	float: left;
	padding-top: 1px;
    }

  /*S'identifier, mail...en dessous de la nav*/
  .blocA ul li{
  	list-style-type: none;
  	color: white;
  	border-collapse: collapse;
  }

/*la nav est l'intégralité de la barre menu*/
nav {
	min-width: : 100%;
	border-collapse: collapse;
	border-radius: 10px/20px;
	text-align: center;
	text-decoration-color: white;
  }
/*liens à l'intérieur de la nav*/
a{
	text-align: center;
	padding: 77px;
	text-decoration: none;
	color: white;
}

span {
	background: pink;
}

/*quand on passe la souris surle lien il passe en noire*/
a:hover{
	color: black;
	transition: right 2s, transform 2s;
}

/*correction *
section {
	display: flex;
	margin: 20px;
	background-color: white;
}


}
.item:hover{
padding: 10px;
margin: 10px;
border: 1px solide;
transition-duration: 2s;
}

.élément .photo-marque img,.marque{
width: 100%;
}

.photo-marque {
	position: relative;
}

.marque::before{
	content:"c'est mon before";
}

.marque {
	position: absolute;
	height: 20%;
	text-align: center;
}

.détails {
	color: white;
}

.détails.kilo {
	float: left;
	padding: 10px;
	background: pink;
}

/* pour le lien contact dans la nav*/
#bloc {
	float: right;
   padding-top: 11px;
	text-align: center;
}


/* Qui englobe l'intégralité du footer*/

#contener{
	min-height: 30%;
	position: relative;
}

html, body{
	height: 100%;
}

body{
flex-direction: column;
}

footer{
position: absolute;
width: 100%;
height: 115px;
bottom: 0px;
left:0px;
background: #CECECE;
border-radius: 10px/20px;
}


/* le .bloc représente un bloc contenant les liens footer*/
 .bloc{
  	width: 25%;
  	margin: 0 30px;
  	}
.liensfooter ul {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 20px;
	padding: -3px 0 100px;
	list-style-type: none;
  }  

  .liensfooter a{
  	color: white;
  }



/* logo FB et Insta*/

.social{
	width: 40px;
	height: 40px;
}

.social img{
	width: 30px;
	height: 30px;
	border-radius:50px;
   }



/* Methode Responsive*/
 
@media screen and (min-device-width:1px ) and (max-device-width:400px){
	body{
		background-color: pink ;
	}

	  }

@media screen and (min-device-width:300px) and (max-device-width:1000px){  
 
 body{

 	background-color: yellow;
 }
   }

@media screen and (min-device-width:1000px) and (max-device-width:2000px){

	body {


		background-color:grey;
	}
   }