@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
}
body{
	font-family: sans-serif;
	margin: var(--header-height) 0 0 0;
	font-family: var (--body-font);
	font-size: var (--normal-font-size);
	font-weight: var (--font-medium);
	background-color: white;
	color: var (--text-color);
	line-height:2.6;
	margin-top: 0;
	width:100%;
}
/* navbar comptet--------------------------------------------------------*/
h1 a {
	font-size:2.6rem;
}
li{
	font-size:2rem;
}
/*head--------*/
.main-head{
	background:white;
	color:#e79915;
	align-items:center;
	
}
  a{
  color:red;
  text-decoration:none;
 }
 
   a:hover{
 	background: #CECECE;
 }


nav {
	
	margin:auto;
	padding:2rem;
	height:89px;
	background:white;
	/*position: fixed;*/
	transition:all 0.3s ease-out;
	z-index: 1;
	display:flex;
	min-height:10vh;
}
 nav ul{
    display:flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items:center;
    list-style:none;
 }
 #logo{
   flex: 2 1 40rem;
   
 }
 .log{
   color:black;
   font-size: 29px;
 }
  .anim-nav{
   background:black;
   color:white;
   border-bottom: 1px solid white;
  }

span {
	background: pink;
}

a:hover{
	color: black;
	transition: right 2s, transform 2s;
}

#contener{
	min-height: 30%;
	position: relative;
}

html, body{
	height: 100%;
}

body{
flex-direction: column;
}

section{
	padding: 0rem 1rem;
    padding-top: 6%;
    border:solid 2px;
}
.carte{
	display:inline-grid;
    margin: 39px 0 62px 68px;
    -webkit-box-shadow: 6px 9px 13px 5px rgba(0,0,0,0.8); 
    box-shadow: 6px 9px 13px 5px rgba(0,0,0,0.8);
}
.cartee{
	display:inline-grid;
   
    -webkit-box-shadow: 6px 9px 13px 5px rgba(0,0,0,0.8); 
    box-shadow: 6px 9px 13px 5px rgba(0,0,0,0.8);
}
.blocdetail{

	display:flex;
	 flex-direction:column;
	 justify-content:center;
	 align-items:center;
	 text-align:center;
	 padding: 116px 20px;
	 height: 25rem;
	 height: 37rem;
}
.cardi{
	height:21em;
	width: 34rem;
}
.imgd{
	height: 18em;
	margin-top: 1rem;
}
.des{
	
	 display:flex;
	 flex-direction:column;
	 justify-content:center;
	 align-items:center;
	 text-align:center;
	 padding: 0 20px;
	 align-items: flex-end;
    align-content: space-between;
    flex-wrap: wrap
}
/*n page acceuil------------------------------------------------------*/
.carou{
	height: 19%;
    width: 9em;
    margin: 0 0 0 18rem;
    float: left;
    justify-content:center;
    
    
}
.carou2{
    width: 9em;
    float: left;
}
.carou3{
	margin-left: 20vh;
    
}
   
.slidee{
	
    position:absolute; 
    bottom:0;
}
.img{
	height:100%;
}

#map{
	border:solid 2px;
	height: 24em;
    width: 35em;
    margin-top:4em;
    padding: 0 0 35px 0;
}
#contact{
	display:list-item;
	/* flex-direction:column;
	 justify-content:center;*/
	 align-items:center;
	 text-align:center;
	 padding: 0 20px;
	
}
.contact__container{
	row-gap: 3rem;
	background: white;
	width:36%;
	margin-left: 30em;
}



.contact__input{
	width: 100%;
	padding: 1rem;
	outline:none;
	/*border:none;*/
	background-color: var(--first-color-light);
	margin-bottom: var(--mb-2);
	border-radius: .5rem;
}

.contact ::placeholder{
	color: var(--first-color-dark);
	font-family: var(--body-font);
	font-weight: var(--font-medium);

}

.contact__button{
	outline:none;
	border:none;
	font-family:var(--body-font);
	cursor:pointer;
}

.contact__info{
	margin-bottom: var(--mb-3);
	
}
.contact__subtitle	{
	font-size: var(--h3-font-size);
	color: #ffbf23;
	margin-bottom: var(--mb-1);
}

 .contact__text{
  display:block;
  padding-left: 1rem;
 }
/* Methode Responsive--------------------------------------------------------------------------------------------------------*/
 
@media screen and (min-device-width:1px ) and (max-device-width:400px){
	body{
		background-color: white ;
	}

	  }

@media screen and (min-device-width:300px) and (max-device-width:1000px){  
 
 body{

 	background-color: red;
 }
   }

@media screen and (min-device-width:1000px) and (max-device-width:2000px){

	body {

		background: #ffe259;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
					
	}
   }